<div class="center-container">
  <h1> My profile </h1>
</div>

<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, style: "width: 60px; height: 60px;" %>
<% end %>


<h2> About me: </h2>

<ul>
  <li><strong>Username:</strong> <%= @user.username %></li>
  <li><strong>Bio:</strong> <%= @user.bio %></li>
  <li><strong>Email:</strong> <%= @user.email %></li>
</ul>
