<div class="center-container">
<h1>Posts</h1>
</div>

<div class="col-12 col-md-6 col-xl-4" style="margin: auto;">
<div class="form-container">
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
</div>

