/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.form-container {
  background-color: #94e6e3; /* Opcjonalnie, aby formularz się wyróżniał */
  border: 1px solid rgb(7, 7, 7); /* Opcjonalnie, dodanie obramowania dla lepszej widoczności */
  border-radius: 10px; /* Opcjonalnie, zaokrąglone rogi */
  margin-bottom: 20px; /* Odstęp poniżej każdego postu */
  padding: 20px;
  position: relative;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowuje w pionie */
  align-items: center;     /* Wyśrodkowuje w poziomie */
  height: 12vh;           /* Ustawia wysokość kontenera */
  background-color: #f8fafa; /* Opcjonalne tło strony */
  border: 1px solid rgb(7, 7, 7); /* Opcjonalnie, dodanie obramowania */
  margin-bottom: 20px;
  position: relative;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #94e6e3;
  border: 1px solid rgb(7, 7, 7);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
}

.center-text,
.centered-text {
  text-align: center;
}

.centered-text {
  margin-top: 40px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-column {
  flex: 1;
  min-width: 30%;
  margin: 10px;
}

.profile-column ul {
  list-style: none;
  padding: 0;
}

.profile-column li {
  margin-bottom: 5px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

/* Modal - Ustawienia szerokości i wysokości */
.modal {
  display: none; /* Domyślnie ukryty */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Półprzezroczyste czarne tło */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  max-width: 100%;
  margin: 0;
}

.modal-content {
  max-width: 90vw; /* Ograniczenie szerokości obrazka, aby zmieścił się na ekranie */
  max-height: 90vh; /* Ograniczenie wysokości obrazka */
  object-fit: contain; /* Zatrzymaj proporcje obrazka */
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Modal content */
.modal-avatar-image {
  max-width: 90vw; /* Wypełnia szerokość widoku */
  max-height: 90vh; /* Wypełnia wysokość widoku */
  object-fit: contain; /* Utrzymuje proporcje obrazka */
}

/* Styl zamknięcia modala */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.comment {
  margin-bottom: 15px;
}

.replies {
  margin-left: 20px;
}

.reply-form {
  margin-top: 10px;
}

.reply-input {
  width: 300px;
  min-width: 100px;
}

.reply-form-container {
  display: none;
}

/* Zielony przycisk */
.btn-success {
  background-color: #19b927;
  border-color: #19b927;
  color: #fff;
}

.btn-success:hover {
  background-color: #17a834;
  border-color: #17a834;
  color: #fff;
}

/* Styl dla przycisków w rozmiarze małym */
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
