/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .form-container {
  width: 100%;
  max-width: 500px; /* Maksymalna szerokość formularza */
  padding: 20px;
  background-color: #e0d8d8; /* Opcjonalnie, aby formularz się wyróżniał */
  border-radius: 10px; /* Opcjonalnie, zaokrąglone rogi */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opcjonalnie, cień wokół formularza */
}

.center-container h1 {
  margin-bottom: 5px; /* Odstęp między nagłówkiem a formularzem */
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowuje w pionie */
  align-items: center;     /* Wyśrodkowuje w poziomie */
  height: 12vh;           /* Ustawia wysokość kontenera na 100% wysokości widoku */
  background-color: #f8f9fa; /* Opcjonalne tło strony */
}

.post-container {
  background-color: #e0d8d8; /* Opcjonalnie, aby formularz się wyróżniał */
  border-radius: 10px; /* Opcjonalnie, zaokrąglone rogi */
  padding: 20px;
  position: relative;
}

.post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  background-color: #e0d8d8; /* Opcjonalnie, aby formularz się wyróżniał */
}
