.navbar-button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}

.navbar-btn {
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
}